@import "bootstrap/bootstrap.scss";
$font-stack: Helvetica, sans-serif;

body {
  font: 14px "Lucida Grande" $font-stack;
}

a {
  color: #00B7FF;
}

h1 {
  font: 150px $font-stack;
}

.title-banner {
  height: 500px;
  background-image: url("../images/banner.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  color: white;
}
